:root {
    --primary: #031926;
    --primary-hover: beige;
    --secondary: #468189;
   
}

*{
    font-family: 'Montserrat Alternates', sans-serif;
}
#icons, #resume {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#logo {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--secondary);
} */


main {
    flex: 1;
    padding: 2% 4%;
}

body {
    background-color: var(--primary);
}

#logo {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background-color: var(--primary);
    color: var(--secondary);
}


a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    transition: color .1s;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav-item {
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.nav-item:hover {
    background-color: var(--primary-hover);
    color: black;
}

a:hover, .blog-title {
    color: var(--primary-hover);
}

.nav-link {
    color: var(--light);
}

.nav-link:hover {
    color: var(--light);
}


button {
    background-color: var(--primary);
    border: 0;
    padding: 5%;
    color: var(--light);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: var(--secondary-color);
}


.btn-no-style {
    border: none;
    /* padding: 0; */
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--light);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 20px;

}

.btn-no-style:hover {
    background-color: var(--secondary-color);
    color: var(--light);
}

.modalButton {
    background-color: var(--primary);
    color: var(--light);
}

.modalButton:hover {
    background-color: var(--secondary-color);
    color: var(--light);
}
/* modal content */

.emailModal > div {
    padding: 10px;
    margin: 5px;
    justify-content: left;
}

#p1{
    align-items: center;
    overflow:hidden;
    height: fit-content;
    width: 100%;
    background: radial-gradient(circle at bottom, grey 0, #031926 100%);
}

#p2 {
    align-items: center;
    overflow: hidden;
    border: 1px solid lightslategray;
    background: radial-gradient(circle at top right, grey 0, #031926 100%);
    width: 50%;
    height: 50vh;
}

#p3{
    align-items: center;
    overflow: hidden;
    border: 1px solid lightslategray;
    background: radial-gradient(circle at top left, grey 0, #031926 100%);
    width: 50%;
    height: 50vh;
}

#cardContainer {
    overflow: hidden;
    min-height: fit-content;
    margin: 5px;
    background: #F4E9CD;
    color: #031926;
    text-align: center;
}

#text-block{
    font-size:larger;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: .6;   
}

.fa{
    display: inline-block;
    padding: 2px;
    font-size: 30px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    margin: 5px;
}

.fa-linkedin {
    background: transparent;
    color: #0E76A8;
}

.fa-github {
    color: white;
    background: transparent;
}

.fa-instagram {
    color: #8a3ab9;
    background: transparent;
}